@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --font-family: "Inter", sans-serif;
  --bg-color: #242424;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}
